#root{
    width: 100%;
}

.cartIcon{
    position: relative;;
}


.cartNumber{
    position: absolute;
    left: 15px;
    top: -10px;
    background-color: cornflowerblue;
    border-radius: 50px;
    padding: 2px 5px;
    color: white;
    font-weight: 600;
}